{% import '_macros.j2' as macros %}

---
apiVersion: jobset.x-k8s.io/v1alpha2
kind: JobSet
metadata:
  name: {{ macros.full_name(benchmark) }}
  {{ macros.metadata(benchmark, extra = benchmark.spec.job_set) | indent(2) }}
spec:
  successPolicy:
    operator: All
    targetReplicatedJobs:
      - client
  replicatedJobs:
    - name: server
      replicas: 1
      template:
        metadata:
          {{ macros.metadata(benchmark, "server") | indent(10) }}
        spec:
          {{ macros.job_defaults(benchmark) | indent(10) }}
          parallelism: 1
          completions: 1
          template:
            metadata:
              {{ macros.pod_metadata(benchmark, "server", benchmark.spec.server) | indent(14) }}
            spec:
              {{ macros.pod_defaults(benchmark, benchmark.spec.server) | indent(14) }}
              {{ macros.distribution_exclusive(benchmark, benchmark.spec.server) | indent(14) }}
              containers:
                - name: server
                  {{ macros.container_defaults(benchmark, benchmark.spec.server) | indent(18) }}
                  securityContext:
                    {%- if benchmark.spec.host_network %}
                    privileged: true
                    {%- else %}
                    capabilities:
                      add:
                        - IPC_LOCK
                    {%- endif %}
                  args:
                    - bash
                    - -c
                    - |-
                        set -e
                        {%- if benchmark.spec.server.cpu_affinity is not none %}
                        CPULIST="{{ benchmark.spec.server.cpu_affinity }}"
                        {%- else %}
                        CPULIST="$(cat /sys/class/infiniband/{{ benchmark.spec.server.device }}/device/local_cpulist)"
                        {%- endif %}
                        exec taskset -c "$CPULIST" \
                          ib_{{ benchmark.spec.mode }}_lat \
                            -F \
                            {%- if benchmark.spec.connection_manager %}
                            -R \
                            {%- endif %}
                            -s {{ benchmark.spec.message_size }} \
                            -D {{ benchmark.spec.duration }} \
                            -d {{ benchmark.spec.server.device }}

    - name: client
      dependsOn:
        - name: server
          status: Ready
      replicas: 1
      template:
        metadata:
          {{ macros.metadata(benchmark, "client") | indent(10) }}
        spec:
          {{ macros.job_defaults(benchmark) | indent(10) }}
          parallelism: 1
          completions: 1
          template:
            metadata:
              {{ macros.pod_metadata(benchmark, "client", benchmark.spec.client, collect_logs = True) | indent(14) }}
            spec:
              {{ macros.pod_defaults(benchmark, benchmark.spec.client) | indent(14) }}
              {{ macros.distribution_exclusive(benchmark, benchmark.spec.client) | indent(14) }}
              containers:
                - name: client
                  {{ macros.container_defaults(benchmark, benchmark.spec.client) | indent(18) }}
                  securityContext:
                    {%- if benchmark.spec.host_network %}
                    privileged: true
                    {%- else %}
                    capabilities:
                      add:
                        - IPC_LOCK
                    {%- endif %}
                  args:
                    - bash
                    - -c
                    - |-
                        set -e
                        {%- if benchmark.spec.client.cpu_affinity is not none %}
                        CPULIST="{{ benchmark.spec.client.cpu_affinity }}"
                        {%- else %}
                        CPULIST="$(cat /sys/class/infiniband/{{ benchmark.spec.client.device }}/device/local_cpulist)"
                        {%- endif %}
                        exec taskset -c "$CPULIST" \
                          ib_{{ benchmark.spec.mode }}_lat \
                            -F \
                            {%- if benchmark.spec.connection_manager %}
                            -R \
                            {%- endif %}
                            -s {{ benchmark.spec.message_size }} \
                            -D {{ benchmark.spec.duration }} \
                            -d {{ benchmark.spec.server.device }} \
                            {{ macros.full_name(benchmark) }}-server-0-0.{{ macros.full_name(benchmark) }}
