{% import '_macros.j2' as macros %}

---
apiVersion: jobset.x-k8s.io/v1alpha2
kind: JobSet
metadata:
  name: {{ benchmark.metadata.name }}
  labels:
    {{ macros.labels(benchmark) | indent(4) }}
spec:
  replicatedJobs:
    - name: server
      replicas: 1
      template:
        spec:
          {{ macros.job_defaults(benchmark, benchmark.spec.server) | indent(10) }}
          parallelism: 1
          completions: 1
          template:
            metadata:
              {{ macros.metadata(benchmark, "server", benchmark.spec.server) | indent(14) }}
            spec:
              {{ macros.pod_defaults(benchmark, benchmark.spec.server) | indent(14) }}
              {{ macros.distribution_exclusive(benchmark) | indent(14) }}
              containers:
                - name: server
                  image: {{ benchmark.spec.image }}
                  imagePullPolicy: {{ benchmark.spec.image_pull_policy }}
                  {{ macros.container_defaults(benchmark, benchmark.spec.server) | indent(20) }}
                  {%- if benchmark.spec.host_network %}
                  securityContext:
                    privileged: true
                  {%- endif %}
                  args:
                    - ib_{{ benchmark.spec.mode }}_bw
                    - -a
                    - -F
                    - --report_gbits
                    - -q
                    - "{{ benchmark.spec.qps }}"
                    - -n
                    - "{{ benchmark.spec.iterations }}"
                    {%- if benchmark.spec.connection_manager %}
                    - -R
                    {%- endif %}
                    {%- for arg in benchmark.spec.extra_args %}
                    - "{{ arg }}"
                    {%- endfor %}

    - name: client
      dependsOn:
        - name: server
          status: Ready
      replicas: 1
      template:
        spec:
          {{ macros.job_defaults(benchmark, benchmark.spec.client) | indent(10) }}
          parallelism: 1
          completions: 1
          template:
            metadata:
              {{ macros.metadata(benchmark, "client", benchmark.spec.client) | indent(14) }}
            spec:
              {{ macros.pod_defaults(benchmark, benchmark.spec.client) | indent(14) }}
              {{ macros.distribution_exclusive(benchmark) | indent(14) }}
              containers:
                - name: client
                  image: {{ benchmark.spec.image }}
                  imagePullPolicy: {{ benchmark.spec.image_pull_policy }}
                  {{ macros.container_defaults(benchmark, benchmark.spec.client) | indent(20) }}
                  {%- if benchmark.spec.host_network %}
                  securityContext:
                    privileged: true
                  {%- endif %}
                  args:
                    - ib_{{ benchmark.spec.mode }}_bw
                    - -a
                    - -F
                    - --report_gbits
                    - -q
                    - "{{ benchmark.spec.qps }}"
                    - -n
                    - "{{ benchmark.spec.iterations }}"
                    {%- if benchmark.spec.connection_manager %}
                    - -R
                    {%- endif %}
                    {%- for arg in benchmark.spec.extra_args %}
                    - "{{ arg }}"
                    {%- endfor %}
                    - "{{ benchmark.metadata.name }}-server-0-0.{{ benchmark.metadata.name }}"
